.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-col{
  flex-direction: column;
}
.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(102, 102, 102, 0.16);
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.fullscreen-button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
