.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-col{
  flex-direction: column;
}
.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(102, 102, 102, 0.16);
  top: 0;
  left: 0;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-hidden-x{
  overflow-x: hidden;
}
.overflow-hidden-y{
  overflow-y: hidden;
}
.text-center{
  text-align: center;
}
.grey{
  color: grey;
}

.fullscreen-button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-1.md-card{
  .md-card-content{
    padding: 0;
  }
  .md-title{
    font-size: 16px;
    padding: 5px;
  }
  .card-buttons{
    position: absolute;
    right: 0;
    top: 0px;
    color: rgba(0, 0, 0, .54);
    display: flex;
    align-items: center;
    height: 42px;
    .md-button{
      margin: 0;
    }
    .md-select{
      min-width: initial;
      .md-select-value{
        font-size: 14px;
      }
    }
  }
}
// override material design
.md-table .md-table-cell .md-button{
  margin: 0px;
}
.md-table .md-table-cell .md-button .md-icon {
  width: 100%;
  height: 100%;
  line-height: 36px;
}
$paddingLeft: 16px;
$paddingRIght: 8px;
$paddingLeftFirst: 16px;
.md-table .md-table-cell .md-table-cell-container {
  padding-left: $paddingLeft;
  padding-right: $paddingRIght;
}
.md-table .md-table-head-text{
  padding-left: $paddingLeft;
  padding-right: $paddingRIght;
}

.md-table .md-table-head:first-child .md-table-head-text {
  padding-left: $paddingLeftFirst;
}
.md-table .md-table-cell:first-child .md-table-cell-container{
  padding-left: $paddingLeftFirst;
}
