/*.main-layer{
  z-index: 100;
}
.sidebar-layer{
  z-index: 200;
}
.menu-layer{
  z-index: 200;
}
.pop-layer{
  z-index: 300;
}*/

/* note: the z-index of dropdown select of vue-metiral is 13. and the dropdown element is not the children of its parent */
.menu-layer{
  z-index: 2;
}
.fullscreen-layer{
  z-index: 200;
}
