@import "../../../node_modules/vuetiful/src/assets/styles/abstract/_variables.scss";
@import "../../../node_modules/vuetiful/src/assets/styles/abstract/_functions.scss";
@import "../../../node_modules/vuetiful/src/assets/styles/abstract/_mixins.scss";

// @import "./core/_base.scss";
// @import "./core/_typography.scss";
// @import "./core/_layout.scss";
// @import "./core/_buttons.scss";
// @import "./core/_inputs.scss";
// @import "./core/_labels.scss";
// @import "./core/_menus.scss";
// @import "../../../node_modules/vuetiful/src/assets/styles/core/_tables.scss";
// @import "./core/_animations.scss";

$color-table-row-alt: #FAFAFA;

.datatable{
  &.table-wrapper {
      display: block;
      width: 100%;
      border: 1px solid $colour-border;
      border-radius: 2px;

      & table {
          border: none;
      }
  }

  table {
      table-layout: fixed;
      width: 100%;
      background-color: $colour-background;
      border-collapse: collapse;
      border: 1px solid $colour-border;
  }

  &.table-striped {

      & tr {

          &:nth-child(even) {

              & > td {
                  background-color: $color-table-row-alt;
              }
          }
      }
  }

  th,
  td {
      text-align: left;

      &:last-of-type {
          border-right: none;
      }
  }

  th {
      padding: 0.75rem 1rem;
      font-weight: 600;
      background-color: $colour-background-medium;
      border-right: 1px solid $colour-border;
      border-bottom: 1px solid $colour-border;
  }

  td {
      padding: 0.5rem 1rem;
      border-right: 1px solid $colour-border-light;
      border-bottom: 1px solid $colour-border-light;
      @include truncate-text;
  }

  tbody,
  tfoot {

      &:last-of-type {

          & tr {

              &:last-of-type {

                  & > td {
                      border-bottom: none;
                  }
              }
          }
      }
  }

  tfoot {

      & td {
          font-weight: 600;
      }

      & tr {

          &:first-of-type {

              & td {
                  border-top: 1px solid $colour-border;
              }
          }
      }
  }
  // other
  .datatable-group{
    padding: 0;
  }
  &{
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;
  }
  th{
    white-space: nowrap;
  }
  // editable
  &.datatable-editable .datatable-cell {
    position: relative;
    padding: 0!important;
    overflow: visible;
  }
  &.datatable-editable .datatable-cell input, &.datatable-editable .datatable-cell select {
    display: block;
    width: 100%;
    height: auto;
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
